@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
.btn-main-offer {
  border: 1px solid rgb(19, 50, 150);
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.25rem;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: rgb(19, 50, 150);
  background-color: #fff;
  transition: 0.4s;
  transform-origin: center;
}
.btn-main-offer:hover {
  text-decoration: none;
  background-color: rgb(19, 50, 150);
  color: #fff;
  transition: 0.4s;
}
body {
  background-color: #ddd !important;
}
.text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* position: absolute; */
  height: 91vh;
}
